$catalog-padding-vertical: 50px;
$catalog-padding-horizontal: 40px;
$header-logo-width: 40px;
$header-logo-height: 40px;
$map-width: 200px;
$color-mein-accent: #060b35;
$color-secondary: #616070;
$color-accent: #00acdc;
$text-color-accent: #34568b;
$star-size: 16px;
$font-mein: Roboto, sans-serif;
$link-font-weight: 500;
$but-font-weight: 700;
$nav-font-size: 12px;
$column-gap: 48px;
$row-gap: 46px;
$transition-time: 300ms;
$nav-link-height: 60px;
$nav-item-margin-left: 20px;
$white-color: #fff;
