$blue: #00acdc;
$map-width: 200px;
$color-mein-accent: #060b35;
$color-secondary: #616070;
$color-accent: #00acdc;
$star-size: 16px;
$font-mein: Roboto, sans-serif;
$row-gap: 48px;
$column-gap: 46px;
